{% extends 'base.html' %}
{% block container %}

    <div class="container-fluid" id="pages-container">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>{{ title }}</h1>
                    <p>{{ message }}</p>
                    <table border="1px">
                        <tr>
                            <td align="center"><b>Project Name</b></td>
                            <!-- <td align="center"><b>Project ID</b></td> -->
                            <td align="center"><b>floating_ip_address</b></td>
                            <td align="center"><b>fixed_ip_address</b></td>
                            <td align="center"><b>status</b></td>
                        </tr>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.project_name }}</td>
                            <!-- <td>{{ item.project_id }}</td> -->
                            <td>{{ item.floating_ip_address }}</td>
                            <td>{{ item.fixed_ip_address }}</td>
                            <td>{{ item.status }}</td>
                        </tr>
                    {% endfor %}
                    </table>

                    <p><a href="/reports/">Back to reports</a></p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

