{% extends 'base.html' %}
{% block container %}

    <div class="container-fluid" id="pages-container">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {{ message }}
                    {% for item in files %}
                        <li>{{ item}}</li>
                    {% endfor %}
                    <a href="/reports/">Reports</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
