{% extends 'base.html' %}
{% block container %}

    <div class="container-fluid" id="pages-container">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>XIM Reports</h1>
                    <table class="table table-striped">
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>Queries By</b></td>
                            <td><b>Update</b></td>
                            <td><b>Description</b></td>
                        </tr>
                        <tr>
                            <td><a href="/reports/projects-list/" >Projects</a></td>
                            <td>Mohammad Rafiee</td>
                            <td>94/04/23</td>
                            <td>List of all tenants</td>
                        </tr>
                        <tr>
                            <td><a href="/reports/routers-list/" >Routers</a></td>
                            <td>Ramin Shokripour</td>
                            <td>94/04/23</td>
                            <td>List all working routers and their port information</td>
                        </tr>
                        <tr>
                            <td><a href="/reports/subnets-list/" >Subnets</a></td>
                            <td>Ramin Shokripour</td>
                            <td>94/04/23</td>
                            <td>List of all networks and their details set all over the cloud</td>
                        </tr>
                        <tr>
                            <td><a href="/reports/floating-ip-list/" >Floating IPs</a></td>
                            <td>Ramin Shokripour</td>
                            <td>94/04/23</td>
                            <td>Floating lists Which are assigned to an instance or router</td>
                        </tr>
                        <tr>
                            <td><a href="/reports/demo-vpc-list/" >Demo VPC History</a></td>
                            <td>Ramin Shokripour</td>
                            <td>94/04/24</td>
                            <td>Demo VPCs usage table.</td>
                        </tr>
                        <tr>
                            <td><a href="/reports/instances-list/" >Instances</a></td>
                            <td>Ramin Shokripour</td>
                            <td>94/04/24</td>
                            <td>List of active instances and their status</td>
                        </tr>
                    </table>
                </div>
        </div>

    </div>
{% endblock %}