{% extends 'base.html' %}
{% block container %}

    <div class="container-fluid" id="pages-container">

        <div class="container">
            <div class="row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>{{ projects|length }} {{ title }}</h1>
                    <p>{{ message }}</p>
                    <table class="table table-striped">
                        <tr>
                            <td><b>Project Name</b></td>
                            <td><b>Project UUID</b></td>
                        </tr>
                    {% for item in projects %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.id }}</td>
                        </tr>
                    {% endfor %}
                    </table>

                    <p><a href="/reports/">Back to reports</a></p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

