{% extends 'base.html' %}
{% block container %}

    <div class="container-fluid" id="pages-container">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>{{ subnets|length }} {{ title }}</h1>
                    <p>{{ message }}</p>
                    <table class="table table-striped">
                        <tr>
                            <td><b>Project Name</b></td>
                            <td><b>Network Name</b></td>
                            <td><b>Router Name</b></td>
                            <td><b>Subnet Name</b></td>
                            <td><b>CIDR</b></td>
                            <td><b>Gateway</b></td>
                            <td><b>Pool Start Address</b></td>
                            <td><b>Pool End Address</b></td>
                            <td><b>First Available IP</b></td>
                            <td><b>Last Available IP</b></td>
                        </tr>
                    {% for item in subnets %}
                        <tr>
                            <td>{{ item.project_name }}</td>
                            <td>{{ item.network_name }}</td>
                            <td>{{ item.router_name }}</td>
                            <td>{{ item.subnet_name }}</td>
                            <td>{{ item.Cidr }}</td>
                            <td>{{ item.gateway_ip }}</td>
                            <td>{{ item.pool_address_start }}</td>
                            <td>{{ item.pool_address_end }}</td>
                            <td>{{ item.first_available_ip }}</td>
                            <td>{{ item.last_available_ip }}</td>
                        </tr>
                    {% endfor %}
                    </table>

                    <p><a href="/reports/">Back to reports</a></p>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

