<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <title>XIM - XaaS Infrastructure Management System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- [if IE]><meta http-equiv="X-UA-Compatible" content="IE=Edge"/><![endif]-->
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic' rel='stylesheet' type='text/css'>
{#  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" type="text/css" href="/static/styles/base.css" />
    <link  rel="stylesheet" type="text/css" href="/static/styles/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    {% block styles %}{% endblock %}
</head>

<body>

    <nav class="navbar-fixed-top" id="xaas-nav-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 moving-beta">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-1 col-sm-1">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#xaas-main-nav">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span></button>
                                <a class="navbar-brand" id="nav-bar-header-id" href="/"><img id="xaas-brand-img" src="/static/images/xaas.branding.png" /></a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <div class="collapse navbar-collapse xaas-menu" id="xaas-main-nav">
                                <ul class="nav navbar-nav" id="xaasMenu">
                                    <li class="active"><a href="http://xaas.ir" target="_blank">xaas.ir Home page<span class="sr-only">(current)</span></a></li>
                                    <li><a href="/admin/" >XIM admin panel</a></li>
                                    <li><a href="/reports/" >Reports</a></li>
                                    <li><a href="/generate-report/" >Generate new report</a></li>
                                    <li><a href="https://github.com/mrafieee/dciim" >XIM Source code</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </nav>

    {% block container %}{% endblock %}
    <div class="container-fluid" id="home-contact">

        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-md-12" style="color: white !important;">

                </div>
            </div>
        </div>
    </div>



    <div id="footer" class="container-fluid">
        <div class="container">

            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-4">

                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="copyright">&copy; 2015 XIM - XaaS Project. All rights reserved.
                    </div>
                </div>

            </div>



        </div>
    </div>

    <script language="javascript">var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script>
    <script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.bpopup.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/scripts/velocity.min.js"></script>
    <script src="/static/scripts/bxslider.min.js"></script>
    <script type="text/javascript" src="/static/scripts/base.js"></script>

    {% block scripts %}{% endblock %}

</body>
</html>