#pages-container {
  padding: 100px 50px 50px 50px;
}

.icon {
  display: block;
  float: left;
  margin: 0 5px 0 0;
}
.icon.icon-eye {
  width: 20px;
  height: 20px;
  background-position: 0px 0px;
  background-image: url("/static/images/icons.png");
  margin: 0;
  float: none;
}
.icon.icon-eye-blocked {
  width: 20px;
  height: 20px;
  background-position: 0px -20px;
  background-image: url("/static/images/icons.png");
  margin: 0;
  float: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #333;
}
h1,
h2,
h3 {
  font-weight: 300;
  color: #666;
}
table.contact-info td,
table.contact-info th {
  padding: 0 10px 20px 10px;
}
table.contact-info th {
  vertical-align: top;
  text-align: right;
}
.navbar {
  margin: 0;
  border: none;
  background-color: #fff;
}

#dashboard-icon{
display: inline-block;
height: 53px;
width: 53px;
background-position-x: 0px
}

#ha-icon{
display: inline-block;
height: 53px;
width: 53px;
background-position-x: 53px
}

#scalable-icon{
display: inline-block;
height: 53px;
width: 53px;
background-position-x: 126px
}

#catalog-icon{
display: inline-block;
height: 53px;
width: 53px;
background-position-x: 0px;
background-position-y: 53px;
}

#id_captcha_1{
 width: 100px;
}

.my-captcha-referesh{
 padding-right: 5px;
 padding-left: 5px;
}

.moving-beta{
 left: -100px;
 background: url('../images/beta-version-en.png') left center no-repeat;
 background-size: 45px;
 height: 50px;
 z-index: 20000;
 float: left;
}

.colored-nav-bar-menu{
 background: #fff;
 background-size: 40px;
 height: 50px;
 z-index: 10000;
 border-radius: 0;
 border: none;
 box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 -1px 2px rgba(0, 0, 0, 0.1);
}

#element_to_pop_up{
 padding: 20px 20px 20px 20px;
}

.xaas-news{
 padding-top: 50px;
 padding-bottom: 40px;
 background-color: rgba(230,230,230,1);

}

.news-detail-top-panel{
 height: 200px;
 background: url('../images/news-background.jpg') center center repeat-x;
}

.lan-circle_pr {
    border-radius: 50%;
    /*behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 27px;
    height: 27px;
    text-align:center;
    background-color: rgba(240,240,240,255);
    border: 3px solid rgba(240,240,240,255);
    display: inline-block;
    margin-top: 35px;
    margin-right: 0px;
    margin-left: 15%;
}

.lan-circle_en {
    border-radius: 50%;
    /*behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 27px;
    height: 27px;
    text-align:center;
    background-color: rgba(240,240,240,255);
    border: 3px solid rgba(240,240,240,255);
    display: inline-block;
    margin-top: 35px;
    margin-right: 15%;
    margin-left: 0px;
}


.lan-circle_en a {
 text-decoration: none;
 color: rgba(180,180,180,255);
 font-size: 11px;
}
.lan-circle_pr a {
 text-decoration: none;
 color: rgba(180,180,180,255);
 font-size: 11px;
}

.lan-circle_rn a:hover {
 color: gray;
}

.lan-circle_pr a:hover {
 color: gray;
}

.xaas-news-detail{

 padding-bottom: 100px;

 background-color: rgba(240,240,240,255);
}

.xaas-news-list{
 padding-top: 40px;
 padding-bottom: 100px;
 background-color: rgba(240,240,240,255);
}

.navbar {
position:absolute;
}


.xaas-word-container{
  font-weight: 300;
 font-size: 46px;
 padding-bottom: 20px;
 padding-top: 70px;
}

.xaas-news img{
	width: 130px;
	height: 130px;
	border-radius: 100px;
	max-width: 200% !important;
}

.news-hr{
 border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.rounder_image{
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.rounder_image-small{
	width: 120px;
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

#vendor-icon{
display: inline-block;
height: 53px;
width: 53px;
background-position-x: 126px;
background-position-y: 53px;
}

#api-icon{
display: inline-block;
height: 53px;
width: 53px;
background-position-x: 53px;
background-position-y: 53px;
}

.banner-text{
 text-align: center;
}


.navbar-brand {
  height: auto;
  padding: 30px;


}

.news-content{
text-align: left;
}

.xaas-menu{
 padding-left: 100px !important;
}

.news-padding{
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#xaaslogin_btn {
  float: right;
  margin-top: 35px;
  margin-right: 100px;
}


.gray-back-div{
 background-color: rgba(242,242,242,255);
}

.banner-header{

}

#home-banner {
  margin-top: 97px;
  padding: 0px 0 ;
  background: url('../images/bgNew(Blue).jpg') no-repeat fixed;
  background-position-x: center !important;
  color: #fff;
  text-align: center;
  padding-bottom: 110px;
}
#home-banner h1 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #fff;
  margin-top: 0px;
}

#home-banner h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #fff;
}

#home-banner p {
  font-weight: 300;
}
.signup-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 40px 0;
  background-color: #eee;
}

.slight-bottom-margin{
margin-bottom: 30px;
}

.large-bottom-margin{
margin-bottom: 60px;
}

.signup-class{
 padding-top: 50px;
}

.form-dialog {
  padding: 30px;
  margin: 60px 0 0 0;
  background-color: #fff;
  color: #999;
  border-radius: 4px;
}
.form-dialog h2 {
  margin: 0 0 10px;
}
.form-dialog label {
  margin-bottom: 0;
}
.form-dialog .help-block {
  margin-top: 0;
  font-size: 12px;
}
.form-dialog .help-block.error {
  padding: 0;
  list-style: none;
  color: #c00;
}
.form-dialog .form-dialog-step-wrapper {
  margin: 0 0 30px;
}
.form-dialog .form-dialog-step {
  position: relative;
  height: 6px;
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 10px;
  border-left: 1px solid #ccc;
  line-height: 10px;
}

.xaas-text-gray{
 color: gray;
}
.form-dialog .form-dialog-step:last-child {
  border-right: 1px solid #ccc;
}
.form-dialog .form-dialog-step.col-xs-1-5 {
  float: left;
  width: 20%;
}
.form-dialog .form-dialog-step label {
  display: block;
  position: absolute;
  width: 60px;
  top: 10px;
  left: -30px;
  text-align: center;
}
.form-dialog .form-dialog-step label.last {
  float: right;
  left: auto;
  right: -30px;
}
#id_os {
  margin: 0;
  padding: 0;
  list-style: none;
}
#id_os:before,
#id_os:after {
  content: " ";
  display: table;
}
#id_os:after {
  clear: both;
}
#id_os li {
  float: left;
  margin: 0 15px 0 0;
}
#home-intro {
  background: url('../images/bg.jpg') center center no-repeat fixed;
  color: #fff;
}


.feature-top-banner{
 background: url('../images/feature-background.jpg') no-repeat fixed;
 background-position: center -30px;
 padding-bottom: 80px;
}

#home-intro ul {
  width: 5000px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#home-intro li {
  float: left;
  padding: 60px 0;
}
#home-intro li h1 {
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #fff;
}
#home-intro li p {
  font-weight: 300;
}
#home-intro .form-dialog {
  padding: 30px;
  background-color: #fff;
  color: #999;
  border-radius: 4px;
}
#home-intro .form-dialog h2 {
  margin: 0 0 10px;
}
#home-intro .form-dialog-step-wrapper {
  margin: 0 0 30px;
}
#home-intro .form-dialog-step {
  position: relative;
  height: 6px;
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 10px;
  border-left: 1px solid #ccc;
  line-height: 10px;
}
#home-intro .form-dialog-step:last-child {
  border-right: 1px solid #ccc;
}
#home-intro .form-dialog-step.col-xs-1-5 {
  float: left;
  width: 20%;
}
#home-intro .form-dialog-step label {
  display: block;
  position: absolute;
  width: 60px;
  top: 10px;
  left: -30px;
  text-align: center;
}
#home-intro .form-dialog-step label.last {
  float: right;
  left: auto;
  right: -30px;
}
.ui-slider {
  position: relative;
  height: 6px;
  margin: 5px 0 0 0;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.ui-slider .ui-slider-handle {
  display: block;
  position: absolute;
  z-index: 1;
  width: 28px;
  height: 28px;
  margin: -13px 0 0 -13px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: url('../images/icons.png') -40px 0 no-repeat;
  cursor: pointer;
}
#home-features {
  text-align: center;
  padding: 60px 0;
}

.light-gray-text{
 color: rgba(240,240,240,255);
}

.xaas-page-style{
padding-top: 50px;
padding-bottom: 50px;
}

.xaas-page-style h1{
padding-bottom: 20px;
}

/*
os-image-select{
 float: left;
}
*/


.xaas-page-style p{
line-height: 250%;
}

.blue-top-panel{
background: url('../images/about-background.jpg') center center no-repeat;
text-align: center;
height: 300px;
}

.blue-top-panel h1{
color: white;
padding-top: 20px;
padding-bottom: 20px;
}


.not-sure-style{
  text-align: center;
  padding-bottom: 60px;
  background-color: rgba(33,68,120,255);
}


.inside-slider{

margin-left: 0px;
margin-right: 0px;
height: 290px !important;
}

.inside-slider p{
 color: gray;
 font-size: 11px;
}

.slick-prev:before,
.slick-next:before{
color: gray !important;
}

.inside-slider img{
 margin-top: 30px;
 display: inline !important;
}

#home-contact h1{
color: white;
padding-bottom: 30px;
}

.inside-slider h4{
margin-top: 20px;
margin-bottom: 20px;
}


#home-market {
  text-align: center;
  padding: 60px 0;
  background-color: rgba(255,255,255,255)
}


#home-features h1 {
  margin: 0 0 30px;
}
#home-features .icon {
  display: block;
  float: none;
  width: 62px;
  height: 62px;
  margin: auto;
  background: url('../images/home-icons.png') 0 0 no-repeat;
}
#home-features .icon.app-icon {
  background-position: 0 -62px;
}

.footer-menu{
  padding-top: 30px;
  text-align: right;
}

.footer-menu a{
  padding-right: 20px;
  color: lightgray;
}

.navbar-toggle{
background-color: rgba(220, 220, 220, 255);
}

#xaasMenu{
  padding-top: 25px;

}


#xaasMenu a{
  color: rgba(160, 160, 160, 1);
  padding-left: 20px;
  padding-right:20px;
}

#xaasMenu a:hover{
  color: gray;
}


#home-features .icon.out-icon {
  background-position: 0 -124px;
}
#home-features .icon.cog-icon {
  background-position: 0 -186px;
}
#home-features p {
  width: 80%;
  margin: 15px auto 0px;
}

#home-contact {
  padding: 20px 0;
  padding-bottom: 80px;

  /*background: rgba(16,90,119,1) url("../images/servers-bg.jpg") center center no-repeat;*/
  background: rgba(16,90,119,1) url("../images/servers-bg.jpg") center center;
}
#home-contact .contact-info {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
}
#home-contact .contact-info table td {
  padding: 15px;
}
#home-contact .contact-info table th {
  padding: 15px;
  vertical-align: top;
}
#footer {
  background-color: #333;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
}
#footer .copyright {
  padding: 30px 0;
}